.fastidii {
    background-color:
        #f5f6fc;
    width: 100%;
    overflow-x: hidden;

    .acont1 {
        width: 100%;
        height: 768px;
        background-color: blue;
        color: white;
        text-align: center;

        #t1 {
            padding-top: 79px;

        }

        #t3 {
            padding-top: 25px;
        }

        #t2 {
            padding-top: 49px;
        }

    }

    .acont2 {
        width: 80%;
        height: 512px;
        background-image: url("https://s3-alpha-sig.figma.com/img/512f/235a/326a3b7c2026ef8143dfae1e7536d8e5?Expires=1703462400&Signature=ccwBN8~HSa92xElAYkfz4HvugTr-u-om8du-b-Qo57mJeT-TnCWZdH0BnIpiLuYCpPHEYVK41Hge18u5jRJnivx7jc-Y31oI-FWmoJyRm7hDU0RsmgQLfoHjNSL8gEax7iRaxHYT1KeoAPXDU2xtYqHeMbkXD0OjeuP-tJSaSuaVh6ZxAgaXRj5coZGI2uXAvhj8Z8RJHhsxyHIr0c4gw4fUrFvQIAXbWRn3VIO6NGE7ofe5gA55GogsAptWMO4YGnTQrOWn0gxmOrMAFSVt-~BHmZYIkTs90TZTqxVBKyyzzSgiOCkGPubnE~OpYATC9ZAb9~xYukzPbBG1NxmUVA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        margin: 130px;
        margin-top: -386px;
        color: white;

        background-size: cover;


        div {
            margin-left: 100px;
            padding-top: 111px;

            #commune {
                color: var(--text-white-50, rgba(255, 255, 255, 0.50));
            }

            .ei {
                text-align: start;
                margin-bottom: -20px;
            }

            #eib {
                padding: 10px 15px 10px 15px;
                background-color: yellow;
                border: 1px solid rgba(255, 255, 255, 0.30);
                border-radius: 5px;
                margin-top: 50px;

            }
        }

    }

    .acont3 {
        display: flex;
        width: 100%;
        height: 420px;

        #buddh {
            background-image: url("https://s3-alpha-sig.figma.com/img/8da9/4dad/a61136ce77656157b1b6e1e6936b1c64?Expires=1703462400&Signature=F2npmyJZ28z8-umSsKmT3Bx3Tm~jO~wqwvGE43dmbFZaHZdp5c0ldBsDLvnBMAslWsxjXC4-GS0rKp6KpeMYl16omVcgZcIh6xdWEFcxDCnmrPIjeERsw9g6OkkWeXBGTgBU0jXB8tnLzfoPIFcD6LcmKYjFXbN1Qs629CvP1TXyp1kbUDt4lgaTT5LNkIwOlyw0aY57jAnpTNLCM~O6MCjLG1mgmOk1LpLaXR5NuaQpEo0p6wGIFZo6KYS2vA4v7~hFuOrbIrOamXRUS5aJh3T35-ICGTjB2Ce-IL-VOyrUIKxPPyZ2ls3umhsq8fcM~oG613V6cFlmrRix8CJzkA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");

            background-size: cover;

            width: 450px;
            height: 412px;
            flex-shrink: 0;
            margin-left: 135px;
            border-radius: 10px;

            #errubs {
                margin-top: 80px;
                margin-left: 80px;
                color: rgba(255, 255, 255, 0.50);
            }

            .cum {
                margin-left: 80px;
                color: white;

            }

            .fa {
                padding-top: 30px;
            }

            button {
                margin-left: 93px;
                margin-top: 20px;
                padding: 8px;
                background-color: #e94a47;
                border: 0.5px solid white;
                color: white;
            }
        }

        #dog {
            background-image: url("https://s3-alpha-sig.figma.com/img/4922/55ca/d1b4aab682804a4e2f0dd3310147b256?Expires=1703462400&Signature=YwQjawHXXsazhzsHRqyZyyukN6gsyp0ZQUicePQXsr5EJsY2PNPmRbfhK7hJrOznYih7zGM5qjPBi0BzTD3JpWaHHISbmw6WyZ1wU4D4Ar7cJsjHC5SIXp6x6YhiQ7yYJGMzoyME3650TsWOAQIjFcCfaDz2yxDLAKpZFN~LCHw9LNc8YIEjJa13e55eQBC2bMQxWFio4ySo1jUCcFWfg~R9QH-eoM1-xevJjVzkIPbym2nqeGobWcpPSdMwb0r~PoBANZwIeewpJ0iT-FBAy8dTwwm8pyPzxoRoeIVrozmLyh3r02chZzLKqT~AX~2nYQXpmLFD1Scs4bstFPPgqA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
            background-size: cover;

            width: 450px;
            height: 412px;
            flex-shrink: 0;
            margin-left: 30px;
            border-radius: 10px;

            #scrip {
                margin-top: 80px;
                margin-left: 80px;
                color: rgba(255, 255, 255, 0.50);

            }

            .dicam {
                margin-left: 80px;
                color: white;
            }

            .da {
                padding-top: 30px;
            }

            .fa-solid {
                margin-left: 93px;
                margin-top: 20px;
                padding: 8px;
                background-color: rgb(22, 116, 139);
                border: 0.5px solid white;
                color: white;
            }
        }
    }

    #bt1 {
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        margin-top: 40px;
        margin-left: 510px;
        color: #434CCC;
        font-weight: bold;
    }

    .acont4 {
        display: flex;


        .man {
            height: 400px;
            width: 500px;
            background-size: cover;
            background-image: url("https://s3-alpha-sig.figma.com/img/bd52/44af/0ad1fdc2d78f9b51d34d02e2322b719e?Expires=1703462400&Signature=FGMpb16PYsK~Nw22dKs1u0tkWOm2w7jUjwA1Gw4d-dN5TLaC0JSEK1pEgFIhdvxmDm-5hRAWuWB5UruPZNfZVtnFF3L8RxBu4doqKFQRzbjNf77h1pShSLDrmxtZ~9jwgWmESaWMmZYZvRUK1sBSFgX1kkM9yEEfvh795DgcA3MoaddfYm3RhJzt4DtQkmZGT7B2xWfSSxJ-Shuary2s7d1wiedyBDHgg8CKBVq7cDF-zl09zyrz5yP3KIlP19jo3NsRqU4BtGxwXBsRkYOWkj7Ae~BCIfU6vS1~J92J3zzwLC4PrYS~vj7RVK3q72kF7AZ3FJpOQxpTczbaRKK3dw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
        }

        .watch {
            margin-top: 70px;


            #texo {
                margin-left: 60px;
                text-align: start;

                .si {
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            #boxo {
                margin-left: 30px;
                display: flex;
                margin-top: 30px;

                #leftdiv {
                    width: 260px;
                    height: 145px;
                    //  margin-top: 10px;

                    h4 {
                        color: var(--Text_Black, #000);
                        padding-top: 15px;
                        font-family: DM Serif Display;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                    }

                    p {
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        // margin-top: -30px;
                        font-family: DM Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }

                #rightdiv {
                    width: 260px;
                    height: 145px;
                    // margin-top: 10px;

                    h4 {
                        color: var(--Text_Black, #000);
                        // margin-top: 15px;
                        font-family: DM Serif Display;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                    }

                    p {
                        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                        // margin-top: -30px;
                        font-family: DM Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}