* {
    margin: 0;
    padding: 0;
}
.nav {
    width: 100%;
    height: auto;
    background: #434CCC;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    .navcont {
        width: 83%;
        height: auto;
        .navbar {
            display: flex;
            align-items: baseline;
            margin-top: 28px;
            justify-content: space-between;

            #logo {
                color:white;
                font-family: DM Serif Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
            }

            #ham {
                opacity: 0;
            }
            .aboutrow {
                margin-left: 460px;
                width: 324px;
                height: 24px;
                display: flex;
                justify-content: space-between;
                color: var(--Text_White, #FFF);
                text-align: right;

                /* Text */
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                /* 150% */

            }

            #signup {
                width: 170px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 5px;
                border: 1px solid rgba(255, 255, 255, 0.30);
                display: flex;
                justify-content: center;
                align-items: center;

                #sign {
                    color: #FFF;
                    text-align: center;
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                }
            }
        }
    }
}

@media all and (max-width: 375px) {
    .nav {
        width: 100vw;
        height: auto;
        border: 2px solid black;

        .navcont {
            width: 95%;
            .navbar {
                #logo {
                    color: white;
                    font-family: DM Serif Display;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }

                #ham {
                    opacity: 1;
                    width: 20px;
                    height: 14px;
                    margin-left: 240px;
                    flex-shrink: 0;
                    fill: #FFF;
                }
            }
        }
    }
}