* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: auto;
  background: #434CCC;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.nav .navcont {
  width: 83%;
  height: auto;
}
.nav .navcont .navbar {
  display: flex;
  align-items: baseline;
  margin-top: 28px;
  justify-content: space-between;
}
.nav .navcont .navbar #logo {
  color: white;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
.nav .navcont .navbar #ham {
  opacity: 0;
}
.nav .navcont .navbar .aboutrow {
  margin-left: 460px;
  width: 324px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--Text_White, #FFF);
  text-align: right;
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}
.nav .navcont .navbar #signup {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .navcont .navbar #signup #sign {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

@media all and (max-width: 375px) {
  .nav {
    width: 100vw;
    height: auto;
    border: 2px solid black;
  }
  .nav .navcont {
    width: 95%;
  }
  .nav .navcont .navbar #logo {
    color: white;
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .nav .navcont .navbar #ham {
    opacity: 1;
    width: 20px;
    height: 14px;
    margin-left: 240px;
    flex-shrink: 0;
    fill: #FFF;
  }
}
.hcontainer {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: hidden;
  background-color: rgb(67, 76, 204);
}
.hcontainer .hfc {
  display: flex;
  flex-direction: column;
  margin-left: 135px;
}
.hcontainer .hfc div:nth-child(1) {
  width: 126px;
  height: 24px;
  color: var(--Text_White, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 120px;
}
.hcontainer .hfc div:nth-child(2) {
  margin-top: 24px;
  width: 515px;
  height: 160px;
  color: var(--Text_White, #fff);
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.hcontainer .hfc div:nth-child(3) {
  margin-top: 32px;
  width: 370px;
  height: 72px;
  color: var(--Text_White, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.hcontainer .hfc button {
  color: #FFF;
  margin-top: 41px;
  width: 170px;
  border: none;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
}
.hcontainer .image {
  background: url(../images/clip-1.png), transparent 0px 0px/100% 100% no-repeat;
  width: 1074px;
  height: 716px;
  flex-shrink: 0;
  max-width: 100%;
  margin-left: -130px;
}

@media all and (max-width: 375px) {
  .hcontainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .hcontainer .hfc {
    margin-left: 14px;
  }
  .hcontainer .hfc div:nth-child(2) {
    font-size: 56px;
    line-height: 64px;
    margin-top: 5px;
    width: 258px;
    height: 192px;
  }
  .hcontainer .hfc div:nth-child(3) {
    margin-top: 19px;
    width: 336px;
  }
  .hcontainer .hfc button {
    margin-top: 25px;
  }
  .hcontainer .image {
    background-position: center;
    background-size: cover;
    width: 537px;
    height: 358px;
    margin-left: -20px;
  }
}
section {
  background-color: #FFDD78;
  width: 100%;
  height: auto;
}

.container {
  padding-bottom: 100px;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  font-size: 56px;
  text-align: center;
}

.p1 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.child1 {
  width: 370px;
  height: 416px;
  margin-left: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

.child2 {
  width: 370px;
  height: 416px;
  margin-left: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

.child3 {
  width: 370px;
  height: 416px;
  margin-left: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

.child1 > img {
  padding-top: 64px;
  padding-left: 119px;
}

.child1 > p {
  padding: 3px;
  font-size: 16px;
  color: rgb(164, 164, 164);
}

.child1 > h4 {
  padding-top: 23px;
  font-size: 24px;
}

.child1 > h6 {
  font-size: 16px;
  margin-top: 30px;
}

.child2 > img {
  padding-top: 73px;
  padding-left: 84px;
}

.child2 > p {
  padding: 3px;
  font-size: 16px;
  color: rgb(164, 164, 164);
}

.child2 > h4 {
  padding-top: 23px;
  font-size: 24px;
}

.child2 > h6 {
  font-size: 16px;
}

.child3 > img {
  padding-top: 58px;
  padding-left: 121px;
}

.child3 > p {
  padding: 3px;
  font-size: 16px;
  color: rgb(164, 164, 164);
}

.child3 > h4 {
  padding-top: 23px;
  font-size: 24px;
}

.child3 > h6 {
  font-size: 16px;
}

@media all and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
