//Himanshu section
body {
    margin: 0;
    padding: 0;
  }
  .hcontainer {
     
    width: 100%;
    height: auto;
  //   height: 716px;
    display: flex;
    background-color: rgba(67, 76, 204, 1);
    .hfc {
      display: flex;
      flex-direction: column;
      margin-left: 135px;
      div:nth-child(1) {
        width: 126px;
        height: 24px;
        color: var(--Text_White, #fff);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-top: 120px;
      }
      div:nth-child(2) {
          margin-top: 24px;
        width: 515px;
        height: 160px;
        color: var(--Text_White, #fff);
        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px;
      }
      div:nth-child(3) {
          margin-top: 32px;
        width: 370px;
        height: 72px;
        color: var(--Text_White, #fff);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      button{
          color: #FFF;
          margin-top: 41px;
          width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
      }
    }
    img{
      max-width: 55%;
    }
  }
  @media all and (min-width:320px) and (max-width:480px){
      .hcontainer{
          display: flex;
          flex-direction: column;
          .hfc{
              margin-left: 14px;
              div:nth-child(2){
                  font-size: 56px;
                  line-height: 64px;
                  margin-top: 5px;
                  width: 258px;
                  height: 192px;
              }
              div:nth-child(3){
                  margin-top: 19px;
                  width: 346px;
              }
              button{
                  margin-top: 25px;
              }
          }
          img{
              max-width:100%;
               margin-right: 80px;
               
               
              
          }
      }
  }
  // Himanshu section ends
  