* {
  margin: 0;
  padding: 0;
}

.container .child1 {
  width: 100%;
  height: 768px;
  background-color: #434ccc;
  color: white;
  text-align: center;
}
.container .child1 h5 {
  padding: 79px 0 21px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.container .child1 h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.container .child1 p {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding: 29px 510px 468px;
}
.container .child2 {
  position: relative;
  top: -416px;
  left: 135px;
  width: 1170px;
  height: 512px;
  border-radius: 5px;
  background: #F1B505;
}
.container .child2 img {
  margin-left: 219px;
  border-radius: 5px;
}
.container .child2 div {
  position: relative;
  top: -300px;
  left: 0;
}
.container .child2 div #text {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.container .child2 div h2 {
  margin-bottom: -20px;
}
.container .child2 div button {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  background-color: yellow;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-top: 50px;
}
.container .child3 {
  display: flex;
  width: 1440px;
  height: auto;
  flex-shrink: 0;
  margin-top: 34px;
}
.container .child3 #i1 {
  background-image: url("https://s3-alpha-sig.figma.com/img/8da9/4dad/a61136ce77656157b1b6e1e6936b1c64?Expires=1703462400&Signature=F2npmyJZ28z8-umSsKmT3Bx3Tm~jO~wqwvGE43dmbFZaHZdp5c0ldBsDLvnBMAslWsxjXC4-GS0rKp6KpeMYl16omVcgZcIh6xdWEFcxDCnmrPIjeERsw9g6OkkWeXBGTgBU0jXB8tnLzfoPIFcD6LcmKYjFXbN1Qs629CvP1TXyp1kbUDt4lgaTT5LNkIwOlyw0aY57jAnpTNLCM~O6MCjLG1mgmOk1LpLaXR5NuaQpEo0p6wGIFZo6KYS2vA4v7~hFuOrbIrOamXRUS5aJh3T35-ICGTjB2Ce-IL-VOyrUIKxPPyZ2ls3umhsq8fcM~oG613V6cFlmrRix8CJzkA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  margin-left: 135px;
  border-radius: 10px;
}
.container .child3 #i1 p {
  padding-left: 93px;
  margin-top: 79px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.container .child3 #i1 h4 {
  color: white;
  margin-bottom: -20px;
  padding-left: 93px;
}
.container .child3 #i2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/4922/55ca/d1b4aab682804a4e2f0dd3310147b256?Expires=1703462400&Signature=YwQjawHXXsazhzsHRqyZyyukN6gsyp0ZQUicePQXsr5EJsY2PNPmRbfhK7hJrOznYih7zGM5qjPBi0BzTD3JpWaHHISbmw6WyZ1wU4D4Ar7cJsjHC5SIXp6x6YhiQ7yYJGMzoyME3650TsWOAQIjFcCfaDz2yxDLAKpZFN~LCHw9LNc8YIEjJa13e55eQBC2bMQxWFio4ySo1jUCcFWfg~R9QH-eoM1-xevJjVzkIPbym2nqeGobWcpPSdMwb0r~PoBANZwIeewpJ0iT-FBAy8dTwwm8pyPzxoRoeIVrozmLyh3r02chZzLKqT~AX~2nYQXpmLFD1Scs4bstFPPgqA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  margin-left: 40px;
  border-radius: 10px;
}
.container .child3 #i2 p {
  padding-left: 93px;
  margin-top: 79px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.container .child3 #i2 h4 {
  color: white;
  margin-bottom: -20px;
  padding-left: 93px;
}

section {
  display: flex;
}

.left img {
  width: 1094px;
  height: 729px;
  flex-shrink: 0;
  margin: 0 0 0 -163px;
}

.right h2 {
  color: black;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 164px;
}

/*# sourceMappingURL=style.css.map */
