.parent {
  margin: 0px;
}
.parent .child1 {
  width: 1440px;
  height: 768px;
  background-color: blue;
  color: white;
  text-align: center;
}
.parent .child1 #t2 {
  padding-top: 79px;
}
.parent .child1 #t1 {
  margin-top: 57px;
}
.parent .child1 #t3 {
  padding-top: 25px;
}
.parent .child1 p {
  margin-bottom: -10px;
}
.parent .child2 {
  width: 1170px;
  height: 512px;
  background-image: url("https://s3-alpha-sig.figma.com/img/512f/235a/326a3b7c2026ef8143dfae1e7536d8e5?Expires=1703462400&Signature=ccwBN8~HSa92xElAYkfz4HvugTr-u-om8du-b-Qo57mJeT-TnCWZdH0BnIpiLuYCpPHEYVK41Hge18u5jRJnivx7jc-Y31oI-FWmoJyRm7hDU0RsmgQLfoHjNSL8gEax7iRaxHYT1KeoAPXDU2xtYqHeMbkXD0OjeuP-tJSaSuaVh6ZxAgaXRj5coZGI2uXAvhj8Z8RJHhsxyHIr0c4gw4fUrFvQIAXbWRn3VIO6NGE7ofe5gA55GogsAptWMO4YGnTQrOWn0gxmOrMAFSVt-~BHmZYIkTs90TZTqxVBKyyzzSgiOCkGPubnE~OpYATC9ZAb9~xYukzPbBG1NxmUVA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  margin-left: 135px;
  margin-top: -386px;
  color: white;
  background-size: cover;
}
.parent .child2 div {
  margin-left: 100px;
  padding-top: 111px;
}
.parent .child2 div #text {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.parent .child2 div h2 {
  margin-bottom: -20px;
}
.parent .child2 div button {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  background-color: yellow;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-top: 50px;
}
.parent .child3 {
  display: flex;
  width: 1440px;
  height: auto;
  flex-shrink: 0;
  margin-top: 34px;
}
.parent .child3 #i1 {
  background-image: url("https://s3-alpha-sig.figma.com/img/8da9/4dad/a61136ce77656157b1b6e1e6936b1c64?Expires=1703462400&Signature=F2npmyJZ28z8-umSsKmT3Bx3Tm~jO~wqwvGE43dmbFZaHZdp5c0ldBsDLvnBMAslWsxjXC4-GS0rKp6KpeMYl16omVcgZcIh6xdWEFcxDCnmrPIjeERsw9g6OkkWeXBGTgBU0jXB8tnLzfoPIFcD6LcmKYjFXbN1Qs629CvP1TXyp1kbUDt4lgaTT5LNkIwOlyw0aY57jAnpTNLCM~O6MCjLG1mgmOk1LpLaXR5NuaQpEo0p6wGIFZo6KYS2vA4v7~hFuOrbIrOamXRUS5aJh3T35-ICGTjB2Ce-IL-VOyrUIKxPPyZ2ls3umhsq8fcM~oG613V6cFlmrRix8CJzkA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  margin-left: 135px;
  border-radius: 10px;
}
.parent .child3 #i1 p {
  padding-left: 93px;
  margin-top: 79px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.parent .child3 #i1 h4 {
  color: white;
  margin-bottom: -20px;
  padding-left: 93px;
}
.parent .child3 #i2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/4922/55ca/d1b4aab682804a4e2f0dd3310147b256?Expires=1703462400&Signature=YwQjawHXXsazhzsHRqyZyyukN6gsyp0ZQUicePQXsr5EJsY2PNPmRbfhK7hJrOznYih7zGM5qjPBi0BzTD3JpWaHHISbmw6WyZ1wU4D4Ar7cJsjHC5SIXp6x6YhiQ7yYJGMzoyME3650TsWOAQIjFcCfaDz2yxDLAKpZFN~LCHw9LNc8YIEjJa13e55eQBC2bMQxWFio4ySo1jUCcFWfg~R9QH-eoM1-xevJjVzkIPbym2nqeGobWcpPSdMwb0r~PoBANZwIeewpJ0iT-FBAy8dTwwm8pyPzxoRoeIVrozmLyh3r02chZzLKqT~AX~2nYQXpmLFD1Scs4bstFPPgqA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  margin-left: 40px;
  border-radius: 10px;
}
.parent .child3 #i2 p {
  padding-left: 93px;
  margin-top: 79px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
}
.parent .child3 #i2 h4 {
  color: white;
  margin-bottom: -20px;
  padding-left: 93px;
}

/*# sourceMappingURL=styles.css.map */
