$primary: #FFDD78;

section{
    width: 1440px;
height: 768px;
background-color: $primary;
// top: 768px;

}
.container{
//     display: grid;
//     grid-template-columns: repeat(3,370px);
// gap:10px;
display: flex;
justify-content: center;
align-items: center;
}

h2{
font-size: 56px;
    text-align: center;
}
.p1{
// font-family: DM Sans;
font-size: 20px;
line-height: 32px;
text-align: center;

}
@mixin box($wid, $heg){
    width:$wid;
    height:$heg;
  margin-left: 30px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
    }
    .child1{
        @include box(370px,416px);
        // position: relative;
        padding-left: 30px;
    }
    .child2{
        @include box(370px,416px);
        padding-left: 30px;
    }
    .child3{
        @include box(370px,416px);
        padding-left: 30px;
    }
    .child1>img{
     padding-top: 64px;
     padding-left: 119px;
    }
    .child1>p{
        padding: 3px;
        font-size: 16px;
        color: rgb(164,164,164);
    }
    .child1>h4{
        padding-top:23px;
        font-size: 24px;
    }
    .child1>h6{
        font-size: 16px;
    }
    .child2>img{
        padding-top: 73px;
        padding-left: 84px;
       }
       .child2>p{
        padding: 3px;
        font-size: 16px;
        color: rgb(164,164,164);
    }
    .child2>h4{
        padding-top:23px;
        font-size: 24px;
    }
    .child2>h6{
        font-size: 16px;
    }
    .child3>img{
        padding-top: 58px;
        padding-left: 121px;
       }
       .child3>p{
        padding: 3px;
        font-size: 16px;
        color: rgb(164,164,164);
    }
    .child3>h4{
        padding-top:23px;
        font-size: 24px;
    }
    .child3>h6{
        font-size: 16px;
    }